/**************               ***************/


body{
    font-size:14px;
    position: relative;
    padding: 4%;
}
#main_header{
    height: 450px;
    border-bottom: 1px solid black;
    position: relative;

}

#leftTitle {
    color: violet;
    display: inline;
}
#centerTitle {
    display: inline;
    color: mediumvioletred;
}
#rightTitle {
    display: inline;
    color: darkorange;
}
#blogPlaceHolder {
    color: darkorange;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
}
h3 {
    text-align: center;
}

.row-header{
    font-weight: bold;
}


#main-footer{
    border-top: 1px solid black;
    min-height: 10vh;
    text-align: center;
}

#main-content{
    min-height: 80vh;
}
#todo-display{
    width: 60%;
    display: inline-block;
}
#display_refresh{
}
.highlight {
    background-color: #ddd;
    cursor: pointer;
}
#update_list
{
    display: none;
}
.todo-record {
    cursor: pointer;
}

.todo-record:hover {
    background-color: #eee;
}

.login_form{
    width: 40%;
    height: 200px;
    margin: 50px auto;
    position: relative;
    top: 50%;
    border: 2px double gray;
}
.controls {
    padding: 30px 0 15px;
    text-align: center;
}

.controls .btn {
    margin-bottom: 15px;
}
.lead {
    text-align: center;
    padding: 20px;
}

#waveform {
    position: relative;
}

#progress-bar {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -10px;
    left: 5%;
    width: 90%;
}

#drop {
    border: 3px dashed #ddd;
    padding: 30px;
}

#drop.wavesurfer-dragover {
    border-color: #333;
}
#fileToUpload {
    margin: 15px auto;

}
canvas {
    cursor: pointer;
}
#signup {
    margin: 50px auto;
    width: 500px;
    text-align: center;
}
.vertical {
    vertical-align: bottom;
}
.sm {
    max-width: 100px;
    max-height: 100px;
    margin-left: 100px;
    text-align: center;
}